.relations {
  display: none;
  position: relative;
  left: 15%;
}

body {
  position: absolute;
  top: 25%;
  left: 25%;
}

#oNameGo{
  position: relative;
  top: 75px;
  left: -37%;
}

#ownerName {
  position: relative;
  left: 4%;

}

#fail{
  position: relative;
  top: 90px;
  left:9%;

}

p{
  position: relative;
  left:3%;

}

#newOwner{
  position: relative;
  left: 17%;

}

#contId{
  position: relative;
  left: 20%;

}


