
#nextImage {
  position: absolute;
  right: 7px;
  top: 50px;
}

#nextSound {
  position: absolute;
  right: 15px;
  top: 300px;
  background-color: blue;

}

#record {
  position: absolute;
  right: 15px;
  top: 400px;


}

#recorded {
  position: absolute;
  right: 15px;
  top: 475px;


}

#mute {
  position: absolute;
  right: 3px;
  top: 550px;
  background-color: orange;

}

#nextSound:hover,
#nextSound:focus{
  background-color: DarkBlue;
}

#mute:hover,
#mute:focus{
  background-color: DarkOrange;
}

